<launch>
    <!-- Launch bridge -->
    <include file="$(find px4_realsense_bridge)/launch/bridge.launch" />
    <arg name="gcs_url" default="udp://@10.42.0.131:14550" />
    <!-- <arg name="gcs_url" default="udp://@192.168.137:1:14550" /> -->

    <!-- Launch MAVROS -->
    <include file="$(find LawnMower)/launch/mavros.launch">
        <arg name="gcs_url" value="$(arg gcs_url)" />
    </include>
    <!-- Include extrinsicts -->
    <include file="$(find LawnMower)/launch/extrinsics.launch" />
    <!-- Launch challenge -->
    <node pkg="LawnMower" type="challenge4.py" name="challenge4" output="screen" />

</launch>