<launch>
    <!-- Launch bridge -->
    <include file="$(find px4_realsense_bridge)/launch/bridge.launch" />
    <arg name="gcs_url" default="udp://@10.42.0.130:14550" />
    <!-- Launch MAVROS -->
    <include file="$(find LawnMower)/launch/mavros.launch">
        <arg name="gcs_url" value="$(arg gcs_url)" />
    </include>
    <node pkg="LawnMower" type="challenge4.py" name="challenge4" output="screen" />

    <!-- Launch static transform publishers -->
    <node pkg="tf" type="static_transform_publisher" name="tf_local2vicon  "
        args="0 0 0 0 0 0 local_position /vicon/ROB498_Drone/ROB498_Drone 1000"/>
</launch>