<launch>
    <!-- Launch bridge -->
    <include file="$(find px4_realsense_bridge)/launch/bridge.launch" />

    <node pkg="tf" type="static_transform_publisher" name="tf_vicon_drone_base_link"
        args="0 0.06 0 0 0 0 vicon/ROB498_Drone/ROB498_Drone base_link 20"/>

    <!-- Launch transform publishers -->
    <node pkg="LawnMower" type="local_pos_tf_node.py" name="local_pos_tf_node" output="screen" />
    
    <!-- run if using true vicon -->
    <!-- <node pkg="LawnMower" type="vicon_tf_node.py" name="vicon_tf_node" output="screen" /> -->

    <!-- run if running vicon_tf without vicon -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="tf_fake_vicon" args="0 0 0 0 0 0 vicon/world vicon/ROB498_Drone/ROB498_Drone 20" /> -->

    <!-- run if not using vicon, offline testing -->
    <node pkg="tf" type="static_transform_publisher" name="tf_dummy_vicon"
        args="0 0 0 0 0 0 map vicon/dummy 40"/>    

</launch>
