<launch>
    <include ns="camera" file="$(find stereo_image_proc)/launch/stereo_image_proc.launch">
        <arg name="left" value="fisheye1" />
        <arg name="right" value="image_raw" />
    </include>
    <node pkg="image_view" type="stereo_view" name="image_view" args="stereo:=/camera image:=image_rect" />
    <!-- start rviz -->
    <node pkg="rviz" type="rviz" name="rviz" />
    <include file="$(find px4_realsense_bridge)/launch/bridge.launch" />
</launch>